@{
    Layout = "_CRM-Layout";
}

<section>
    <h1>Create Project</h1>

    <div class="card mb-4">
        <div class="card-body">
            <form>
                <!-- Form Group (username)-->
                <div class="mb-3">
                    <label class="small mb-1" for="inputUsername">Title</label>
                    <input class="form-control" id="inputUsername" type="text" placeholder="" value="">
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">Description</label>
                        <input class="form-control" id="inputFirstName" type="text" placeholder="" value="">
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Area Of Interest</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="" value="">
                    </div>
                </div>
                <!-- Form Row        -->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (organization name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputOrgName">Total Budget</label>
                        <input class="form-control" id="inputOrgName" type="text" placeholder="" value="">
                    </div>
                    <!-- Form Group (location)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLocation">Location</label>
                        <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                    </div>
                </div>
                <!-- Form Group (email address)-->
                <div class="mb-3">
                    <label class="small mb-1" for="inputEmailAddress">Duration In Months</label>
                    <input class="form-control" id="inputEmailAddress" type="text" placeholder="" value="">
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (phone number)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputPhone">Expected Outcome</label>
                        <input class="form-control" id="inputPhone" type="text" placeholder="" value="">
                    </div>
                    <!-- Form Group (birthday)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputBirthday">Amenities</label>
                        <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="" value="">
                    </div>

                    <div class="col-md-6">
                        <label class="small mb-1" for="inputBirthday">Experts</label>
                        <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="" value="">
                    </div>
                </div>
                <!-- Save changes button-->
                <div class="text-right">
                    <button class="btn btn-primary" type="button">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>